.props-table {
  margin: 1rem 0 2rem 0;
  .row {
    display: grid;
    // gap: 10px;
    grid-template-columns: 150px 90px 250px 1fr;
    align-items: center;
    border-bottom: 1px solid #eee;
    min-height: 40px;
    padding: 10px 0;
    > * {
      display: flex;
      align-items: center;
    }
    .name {
      font-weight: bold;
      letter-spacing: 0.5px;
    }
    code {
      color: #bd7a27;
    }
    .Required {
      color: #a32e2e;
      font-weight: bold;
    }

    @media (max-width: 900px) {
      grid-template-columns: 120px 120px 1fr;
      grid-template-rows: 40px 1fr;
      .description {
        grid-area: 2 / 1 / 3 / 4;
        padding-bottom: 10px;
      }
    }
  }
}
