.datepicker__theme {
  --primary: #00529b;
  --background: white;
  --neutralColor: #777;
  --textColor: #444;
  position: relative;
  text-align: center;
  color: var(--textColor);
}
.datepicker {
  outline: none;
  background: white;
}
.datepicker * {
  box-sizing: border-box;
  position: relative;
}
.datepicker__input-container {
  display: flex;
  width: 100%;
}

.datepicker__input-button {
  position: absolute;
  right: 0;
}
.datepicker__dropdown {
  margin-top: 3px;
  padding: 0 5px 5px 5px;
  min-width: 10rem;
  max-width: 100vh;
  border-radius: 0.25rem;
}
.datepicker__dropdown--closeOnSelect {
  max-width: 400px;
  width: 100%;
  // box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  position: absolute;
  width: 100%;
  z-index: 199;
}
.calendar {
  background: var(--background);
}
.calendar__header {
  display: flex;
  justify-content: space-between;
  padding: 2px 0 8px 0;
  align-items: center;
}

.calendar__header button {
  outline: none;
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 2rem;
  transition: color 0.1s ease-out;
  padding: 0;
  margin: 0;
  display: grid;
  place-items: center;
  width: 30px;
}
.calendar__header-label {
  margin: 5px 0;
}

.calendar__active-date {
  display: block;
  position: absolute;
  color: var(--neutralColor);
  font-size: 0.8rem;
  width: 100%;
  bottom: -12px;
}
.calendar__header button:hover {
  color: var(--primary);
}
.calendar__header button:focus {
  // color: var(--primary);
  // outline: none;
  box-shadow: 0 0 0 2px var(--primary);
}
.calendar__header button span {
  top: -2px;
}
.calendar__header button:active {
  background: transparent;
  color: var(--primary);
  transform: scale(0.94);
}
.calendar__days-header,
.calendar__date-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 2px;
}

.calendar__days-header {
  color: var(--neutralColor);
  font-weight: bold;
  font-size: 0.8rem;
}

.calendar__date-grid {
  padding: 1px;
  outline: none;
}
.calendar__day::before {
  content: "";
  padding-bottom: 100%;
  display: block;
}

.calendar__day {
  padding: 0.1rem;
  font-size: 0.9rem;
  display: grid;
  place-items: center;
  border: none;
  outline: none;
  border-radius: 0;
  border: 2px solid transparent;
  cursor: pointer;
  border-radius: 5px;
}
.calendar__day:hover {
  border-color: var(--primary);
}
.calendar--displayActive .calendar__day--active {
  border-color: var(--primary);
}

.calendar__day:active {
  transform: scale(0.97);
}

.calendar__day--selected {
  background: var(--primary);
  border-color: var(--primary);
  color: white;
}
.calendar__day--disabled {
  opacity: 0.5;
  cursor: default;
}
.calendar__day--disabled:hover {
  border-color: transparent;
}

.calendar__day::before,
.calendar__day > * {
  grid-area: 1 / 1 / 2 / 2;
}

.datepicker__overlay {
  display: none;
}

.datepicker__overlay-close-button {
  outline: none;
  border: none;
  background: transparent;
  color: var(--textColor);
  padding: 15px 20px;
  margin: 0;
  cursor: pointer;
  position: absolute;
  right: 0;
  font-size: 0.7rem;
}

@media (max-width: 600px) {
  .datepicker--closeOnSelect.datepicker--open .datepicker__dropdown {
    position: fixed;
    left: 0;
    width: 100vw;
    max-width: 100vw;
  }
}
